In [4]:
import pandas as pd

In [19]:
df = pd.read_csv('result.csv')
df.sort_values(['autor', 'total'], ascending=[1, 0], inplace=True)

In [20]:
df.head()

                autor     palavra  total
283189  A-Chuan Hsueh     vehicle      1
370324  A-Chuan Hsueh   following      1
490339  A-Chuan Hsueh     robotic      1
522195  A-Chuan Hsueh  autonomous      1
526225  A-Chuan Hsueh        road      1

In [23]:
df.loc[df['autor'].str.contains('Grzegorz Rozenberg')].head(2)

                     autor   palavra  total
430027  Grzegorz Rozenberg   systems     10
323961  Grzegorz Rozenberg  grammars      9

In [24]:
df.loc[df['autor'].str.contains('Philip S. Yu')].head(2)

               autor palavra  total
239239  Philip S. Yu    data      7
277309  Philip S. Yu     web      7